# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

pool:
  name: 'Azure Pipelines'

variables:
- group: abc-vars
- name: tag
  value: '$(Build.BuildId)'


stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: DownloadSecureFile@1
      name: SA
      displayName: 'Download CA certificate'
      inputs:
        secureFile: 'key.txt'

    - script: |
        cat $(SA.secureFilePath)
    - task: SonarQubePrepare@5
      inputs:
        SonarQube: 'sonarqube-testing'
        scannerMode: 'CLI'
        configMode: 'manual'
        cliProjectKey: 'abc'
        cliSources: '.'
        
    - task: SonarQubeAnalyze@5
    - task: SonarQubePublish@5
      inputs:
        pollingTimeoutSec: '300'
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: |
          pip3 install --upgrade python-sonarqube-api
          python3 ./tools/sonarqube_add_user.sh $(SONARQUBE_KEY)
          
          echo 'Hello world'
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          $(tag)
